@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

:root {
  --main: #ff4500;
  --main-light: #fde3d9;
  --support: #008080;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --gold-light: #ffffd9;
  --forest-light: #dffcdf;
  --info-light: #e6f8ff;
  --blaze-light: #ffdbdb;

}

body {
  background-color: var(--light);
  color: var(--grey-dark);
}

a {
  color: var(--grey-dark);
  font-weight: 400;
  padding: 5px;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Great Vibes', cursive;
}

.logo-img {
  margin-right: 20px;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-light);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;;
}

.content {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.projects-bg {
  background-color: var(--main-light);
}

.about-bg {
  background-color: var(--info-light);
}

.home-bg {
  background-color: var(--gold-light);
}

.contact-bg {
  background-color: var(--forest-light);
}

.resources-bg {
  background-color: var(--gold-light);
}

footer {
  background-color: var(--grey-dark);
  padding: 40px;
  text-align: center;
}

footer h5 {
  text-transform: uppercase;
  color: var(--light);
  transition: color 0.5s ease-in-out;
}

footer h5:hover,
a:hover {
  color: var(--main);
}


